.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, p {
  margin-bottom: 0;
  margin-top: 0;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3;
  margin-right: 93px;
}

.logo {
  margin-bottom: 20px;
}

.black {
  color: #000;
}

.header-nav {
  font-size: 14px;
  font-weight: 500;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 281px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-link {
  position: relative;
}

.header-link {
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  color: #2196F3;
  -webkit-animation-name: chageColor;
          animation-name: chageColor;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@-webkit-keyframes chageColor {
  0% {
    color: #212121;
  }
  100% {
    color: #2196F3;
  }
}
@keyframes chageColor {
  0% {
    color: #212121;
  }
  100% {
    color: #2196F3;
  }
}

.contacts {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-header {
  margin-right: 10px;
  fill: grey;
}

.contacts-link {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover, .contacts-link:focus {
  color: #2196F3;
}

.main-title {
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 136%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section1 {
  background: rgba(47, 48, 58, 0.4);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url(/img/1/img\(back\).webp);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-open {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 32px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-open:hover, .btn-open:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.text-checkbox {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  padding-left: 7px;
}

.policy-link {
  color: #2196F3;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 581px;
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-icom {
  position: absolute;
  top: 27px;
  left: 12px;
}

.modal-form-label {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-form-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form-field {
  position: relative;
  margin-top: 10px;
}

.modal-form-label {
  margin-right: 1002px;
}

.modal-form-input {
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  background-color: #FFF;
}

.modal-form {
  width: 448px;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-form-title {
  padding-top: 8px;
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.modal-form-label {
  margin-right: 1002px;
}

.first-label {
  padding-top: 12px;
}

.btn-close {
  margin-left: 490px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 14px;
  margin-top: 8px;
}

.icon-back {
  fill: #000000;
}
.icon-back:hover, .icon-back:focus {
  fill: #2196F3;
}

.mail {
  margin-right: 50px;
}

.coment-title {
  margin-right: 967px;
  padding-top: 10px;
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.12px;
  font-family: "Roboto";
}

.coment {
  min-width: 448px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.agree-div {
  padding-bottom: 40px;
}

.agree-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: #188CE8;
  background: #188CE8;
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.section2 {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-item {
  width: 270px;
}
.card-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(/antenna\ 1.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 55px;
}

.card-item:nth-child(2)::before {
  background-image: url(/clock\ 1.svg);
}

.card-item:nth-child(3)::before {
  background-image: url(/diagram\ 1.svg);
}

.card-item:nth-child(4)::before {
  background-image: url(/astronaut\ 1.svg);
}

.card-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  font-weight: 400;
}

.section3 {
  padding-bottom: 94px;
  background: #FFF;
}

.item-work {
  position: relative;
}

.card-img-work {
  width: 370px;
  height: 294px;
}

.card-title-work {
  position: absolute;
  bottom: 3px;
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */