:root{
    --hover-color: #2196F3;
    --navigation-color: #212121;
    --navigation-color-link: #757575;
    --hover-text-color: #FFFFFF;
    --icon-color--: #AFB1B8;
    --timing-function--:cubic-bezier(0.4, 0, 0.2, 1) ;
    
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
ul{
 list-style: none;
 padding: 0;
 margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.header-link{
    color: var(--navigation-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
    
}
.header-link:hover,
.header-link:focus{
    color: var(--hover-color);
    animation-name: chageColor;
    animation-duration: 250ms;
    animation-timing-function: var(--timing-function--);
    @keyframes chageColor{
        0%{
            color : var(--navigation-color);
        }
        100%{
            color : var(--hover-color);
        }
    }
}
.contacts-link:hover,
.contacts-link:focus{
 color: var(--hover-color);
}
.card-button:hover,
.card-button:focus{
    color: var(--hover-text-color);
    background-color: var(--hover-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

    
}
.section1{
    background: rgba(47, 48, 58, 0.40);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center; 
    background-image: url(img/1/img\(back\).webp);
    background-repeat: no-repeat;
    background-position: center;  
    
}



.section2{
padding-top: 94px;
padding-bottom: 94px;
}
.section3{
    padding-bottom: 94px;
    background: #FFF;
}
.section4{
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.section5{
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-title{
    color: #FFFFFF ;
    font-size: 44px ;
    font-weight: 900;
    text-align: center; 
    line-height: 136%;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.btn-open:focus,
.btn-open:hover{
    color: var(--hover-text-color) ;
    background-color: var(--hover-color);

}
.btn-open{
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-property: color , background-color ;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);

}

h2,
h3{
    color: #212121;
}
p{
    color: #757575;
}
.footer-link2{
    color: #FFFFFF;
}

.footer-link3{
    color: rgb(255, 255, 255 ,0.6);
}
.footer{
    background-color: #2F303A;
    padding-top: 60px ;
    padding-bottom: 60px;
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
h1,h2,h3,p{
    margin-bottom: 0;
    margin-top: 0;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--hover-color);
    margin-right: 93px;
}
.black{
    color: #000;
}
.header-nav{
    font-size: 14px;
    font-weight: 500;
}
.contacts-link{
color: var(--navigation-color-link);
display: flex;
align-items: center;
transition-property: color , fill;
transition-duration: 250ms;
transition-timing-function: var(--timing-function--);
}
.contacts{
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.contacts .contacts-link:hover{
    color: var(--hover-color);
}
.contacts-link:hover .icon-header{
    fill: var(--hover-color);
}

.icon-header{
    margin-right: 10px;
    fill: grey;
}
.mail{
    margin-right: 50px;
}
.card-title{
    font-size: 14px ;
    font-weight: 700 ;
    margin-bottom: 10px;

}
.card-title-team{
    font-size: 16px ;
    font-weight: 500 ;
    margin-bottom: 10px;
}
.card-text{
    font-size: 14px;
    font-weight: 400;
}
.card-text-team{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.white{
    color: #FFF;
}
footer>a{
    font-size: 14px;
    font-weight: 400;
}
.card-img{
    vertical-align:baseline;
    width : 270px;
    height: 260px;
    margin-bottom: 30px;
   
}
.card-img-work{
    width: 370px;
    height: 294px;
}
.header-list{
    display: flex;
    width: 281px;
    justify-content: space-between;
}
.logo-wrap{
    display: flex;
    align-items: center;
    
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-item{
    width: 270px;
}
.card-list{
    display: flex;
    justify-content: space-between;
 }
 .footer-list{
    display: flex;
    
    
    
 }
 .card-list-photo{
    justify-content: space-between;
 }
 .card-item-photo{
    border: 1px solid #EEE;
    
 }
 .card-item-photo:hover,
 .card-item-photo:focus{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
 }
 
 .card-div{
   padding: 30px;
 }
 .card-item-team{
    text-align: center;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #FFF;
 }
 
  
 .card-list-photo{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
 }
 .card-list-button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;    
}
.modal-form-policy-checkbox:checked  {  
 background-color: #2196f3;
}
.card-button{
    background: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
}
.card-item{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;

}
.card-item::before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color:#F5F4FA ;
    border-radius: 4px;
    background-image: url(antenna\ 1.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 55px;
}
.item-work{
    position: relative;
}
.card-title-work{
    position: absolute;
    bottom: 3px;
    color: var(--hover-text-color);
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;  
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.80);;
}

.card-item:nth-child(2)::before{
    background-image: url(clock\ 1.svg);
}
.card-item:nth-child(3)::before{
    background-image: url(diagram\ 1.svg);
}
.card-item:nth-child(4)::before{
    background-image: url(astronaut\ 1.svg);
}

 .card-img-photo{
    vertical-align:baseline;
   
} 
.logo{
    margin-bottom:20px; 
}
.footer-link2{
    margin-bottom: 9px;
}
.footer-link3{
    margin-bottom: 9px;
}
.icon-header:hover,
.icon-header:focus{
 color: var(--hover-color);
} 
.social-icon{
    width: 20px;
    height: 20px;
}
.social-list{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 30px;
}
.social-link{
    fill: var(--icon-color--);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
}
.social-link:hover,
.social-link:focus{
    fill: var(--hover-text-color);
    background-color: var(--hover-color);
}
.customer{
color: #212121;
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;}
.company{
    display: flex;
    justify-content: space-between;  
    
}
.company-icon{
    width: 106px;
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    fill: var(--icon-color--);
}
.company-icon:hover,
.company-icon:focus{
    fill: var(--hover-color);
}
.company-item{
    margin-top: 50px;
    margin-bottom: 94px;
    margin-left: 30px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    width: 170px;
    height: 92px;
    transition-property: fill , border ;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
}
.company-item:hover{
    border-radius: 4px;
    border: 1px solid #2196F3;
}
.footer-title{
    color: #FFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-left: 70px;

}
.footer-icon{
   fill: #FFFFFF;
    width: 20px;
    height: 20px;
}
.footer-item{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    width: 44px;
    height: 44px;  
    justify-content: center;
    align-items: center;
    display: flex;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--)
}
.footer-item:hover,
.footer-item:focus{
background-color: var(--hover-color);
}
.footer-list-icon{
    display: flex;
    padding-left: 70px;
    padding-top: 20px;
    gap: 10px;
    
    
}
.footer-links{
    display: flex;
    flex-direction: column;
}
.backdrop{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    transition:
     opacity 250ms var(--timing-function--) 250ms,
     visibility 250ms var(--timing-function--) 250ms;
} 
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 528px;
    background-color: var(--hover-text-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: 581px;
    border-radius: 4px;
    transition: opacity 250ms var(--timing-function--) 250ms;
}
.btn-close{
    margin-left: 490px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--hover-text-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-top: 14px;
    margin-top: 8px;
}
.icon-back{
    fill: #000000;
}
.icon-back:hover,
.icon-back:focus{
    fill: var(--hover-color);
}
.modal-form{
    width: 448px;
    margin-left: 40px;
    margin-right: 40px;
}
.modal-form-title{
    padding-top: 8px;
    color: #212121;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.modal-form-label{
margin-right: 1002px;
}
.first-label{
    padding-top: 12px;
}
.modal-form-input{
    width: 448px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    height: 40px;
    background-color: #FFF;
}
.coment{
    min-width: 448px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}
.coment-title{
    margin-right: 967px;
    padding-top: 10px;
    color: #757575;
    font-size: 12px;
    font-style: normal;
    font-weight: 400; 
    letter-spacing: 0.12px;
    font-family: "Roboto";
}
.agree-btn{
    
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color:#188CE8 ;
    background: #188CE8;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
   
   
}
.agree-div{
    padding-bottom: 40px;
}
.form-title{
    color: #FFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700; 
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.footer-form{
    padding-left: 93px;
    
}
.input-footer{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background-color: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right:  12px;
}
.form-icon{
    fill: var(--hover-text-color);
}
.btn-footer{
    width: 200px;
    height: 50px;
    background-color: var(--hover-color);
    border-radius: 4px;
    border-color: var(--hover-color);
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: 0.96px;
    cursor: pointer;

}
.modal-form-field{
    position: relative;
    margin-top: 10px;
}
.modal-form-icom{
    position: absolute;
    top: 27px;
    left: 12px;
}
.modal-form-label{
    color: #757575;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}
.modal-form-policy{
    display: flex;
}
.text-checkbox{
    color: #757575;
font-family: "Roboto";
font-size: 14px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
padding-left: 7px;
}
.policy-link{
    color: #2196F3;
font-family: "Roboto";
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
}
.footer-mail{
    display: flex;
    position: absolute;
    color: rgba(255, 255, 255, 0.60);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.48px;
    top:2685px ;
    left: 760px;
}
.product-trumb{
    position: relative;
    overflow: hidden;
}
.product-action{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    padding: 63px 24px;
    opacity: 0;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
} 
.card-item-photo:hover .product-action{
    opacity: 1;
    transform: translatey(0);
}
.over-text{
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
}

.header-link{
    position: relative;
}
.header-link.current::after{
    content: '';
    display: block;
    background-color: var(--hover-color);
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    left: 0;
    bottom: -40px;
}

 


