
.client{
    padding-top: 60px;
    padding-bottom: 60px;
   
}
@media screen and (min-width: 768px){
    .client__customer{
        padding-left: 227px
    }
}
.client__customer{
    @extend %section-title; 
    width: 314px; 
}
.client__company{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
   

}
@media screen and (min-width: 1200px){
    .benefits{
        padding-top: 94px;
        padding-bottom: 94px;
        }
    .client__company{
display: flex;
flex-wrap: nowrap;
    }
    .client__card-list{
    display: flex;
    justify-content: space-between;
 }
 .client__company-icon{
    padding: 16px 32px;
 }

}

.client__company-icon{
    width: 106px;
    height: 60px;
    
    fill: $icon-color;
    &:hover,
    &:focus{
        fill: $hover-color;
    }
}

.client__company-item{
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    width: 170px;
    height: 92px;
    transition-property: fill , border ;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    &:hover{
        border-radius: 4px;
        border: 1px solid #2196F3;
    }
   margin-right: 30px;
}

