footer{ 
    background-color: #2F303A; 
    padding-top: 60px ; 
    padding-bottom: 60px; 
} 
 .footer__links{ 
    display: flex; 
    flex-direction: column; 
   
} 
.footer__logo{ 
    font-family: 'Raleway', sans-serif; 
    font-size: 26px; 
    font-weight: 700; 
    color: $hover-color; 
   display: flex; 
   justify-content: center; 
} 
.footer__logo{ 
    margin-bottom:20px;  
    
} 
.footer__white{ 
    color: #FFF; 
} 
.footer__link2{ 
    color: #FFFFFF; 
     
    text-align: center; 
    padding-bottom: 8px; 
} 
 
.footer__link3{ 
    color: rgb(255, 255, 255 ,0.6); 
    
    text-align: center; 
    padding-bottom: 8px; 
} 
.footer__title{ 
    color: #FFF; 
    font-family: "Roboto"; 
    font-size: 14px; 
    font-weight: 700; 
    letter-spacing: 0.42px; 
    text-transform: uppercase; 
     
    margin-top: 60px; 
   
} 
.footer__list-icon{ 
    display: flex; 
    padding-top: 20px; 
    gap: 10px; 
} 
.footer__item{ 
    border-radius: 50%; 
    background-color: rgba(255, 255, 255, 0.10); 
    width: 44px; 
    height: 44px;   
    justify-content: center; 
    align-items: center; 
    display: flex; 
    transition-property: background-color; 
    transition-duration: 250ms; 
    transition-timing-function: $timing-function; 
    &:hover, 
    &:focus{ 
        background-color: $hover-color; 
    } 
     
} 
.footer__icon-div{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
.footer__icon{ 
    fill: #FFFFFF; 
     width: 20px; 
     height: 20px; 
 } 
 .footer__form{ 
 margin-top: 60px; 
 display: flex; 
 flex-direction: column; 
 align-items: center; 
 
} 
.footer__form-title{ 
    color: #FFF; 
    font-family: "Roboto"; 
    font-size: 14px; 
    font-weight: 700;  
    letter-spacing: 0.42px; 
    text-transform: uppercase; 
    padding-bottom: 20px; 
} 
.footer__mail{ 
    display: flex; 
    color: rgba(255, 255, 255, 0.60); 
    font-family: "Roboto"; 
    font-size: 16px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 20px;  
    letter-spacing: 0.48px; 
   
} 
.footer__input { 
    width: 290px; 
   height: 40px; 
    border-radius: 4px; 
    border: 1px solid rgba(255, 255, 255, 0.30); 
    background-color: rgba(33, 150, 243, 0.00); 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    margin-right:  12px; 
    margin-top: 20px; 
} 
.footer__btn{ 
    width: 200px; 
    height: 50px; 
    background-color: $hover-color; 
    border-radius: 4px; 
    border-color: $hover-color; 
    color: #FFF; 
    text-align: center; 
    font-family: "Roboto"; 
    font-size: 16px; 
    font-weight: 700; 
    line-height: 30px;  
    letter-spacing: 0.96px; 
    cursor: pointer; 
    margin-top: 20px; 
} 
.footer__form-icon{ 
    fill: $hover-text-color; 
} 
.footer__link2{ 
    margin-bottom: 9px; 
} 
.footer__link3{ 
    margin-bottom: 9px; 
} 
.footer__form-wrap{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
@media screen and (min-width: 480px){ 
    .footer__input { 
    width: 450px; 
} 
} 
@media screen and (min-width: 768px){ 
    .footer__wrap{ 
        display: flex; 
        justify-content: space-between; 
    } 
    .footer__title{ 
        margin-top: 0; 
    } 
        .footer__input { 
    height: 50px; 
    margin-top: 0; 
    padding-left: 15px; 
} 
} 
@media screen and (min-width: 1200px){ 
    .footer__list{ 
        display: flex; 
        justify-content: space-between; 
    } 
    .footer__icon-div{ 
        margin-left: 70px; 
    } 
    .footer__form{ 
        margin-top: 0; 
        text-align: left;
    } 
    .footer__form-wrap{ 
    display: flex; 
    flex-direction: row; 
} 
.footer__input { 
    width: 358px; 
} 
.footer__btn{ 
    margin-top: 0; 
} 
}