.header{
    padding-top: 24px;
    padding-bottom: 25px;
    
}
.header__wrap{
    @include flex();
    align-items: center;
}
.header__logo-wrap{
    display: flex;
    align-items: center;
    
}

.header__logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: $hover-color;
    margin-right: 93px;
}
.header__logo{
    margin-bottom:20px; 
}
.header__black{
    color: #000;
}
.header__nav{
    font-size: 14px;
    font-weight: 500;
}
.header__list{
    width: 281px;
    @include flex();
}
.header__link{
    position: relative;
}
.header__link{
    color: $navigation-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus
    {   color:$hover-color;
        animation-name: chageColor;
        animation-duration: 250ms;
        animation-timing-function: $timing-function;}
        @keyframes chageColor{
            0%{
                color :$navigation-color;
            }
            100%{
                color :$hover-color;
            }
        }
}
.header__contacts{
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.header__icon{
    margin-right: 10px;
    fill: grey;
}
.header__contacts-link{
    color: $navigation-color-link;
    display: flex;
    align-items: center;
    transition-property: color , fill;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus{
        color: $hover-color;
    }
    }